/* style.css */
#pomodoro-clock {
  text-align: center;
  margin-top: 50px;
}

#timer-display {
  font-size: 48px;
  margin-bottom: 20px;
}

.time-setter {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#start-stop {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
}

#reset {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
}

